body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#applicationContaner{
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 182, 182);
    height: 60vh;
    width: 95vw;
    border-radius: 1em;
    border: .5em solid gray;
}

#family {
    visibility: hidden;
}

#recipesContainer, #recipeContentContainer{
/* display: flex;
flex-direction: column; */
/* height: 60vh; */
width: 95vw;
margin-bottom: 1em;
/* border-radius: 1em; */
/* border: .5em solid gray; */
}

#recipeContent, #selections {
    background-color: rgb(182, 182, 182);
    border-radius: 1em;
    border: .5em solid gray;
    /* padding-left: .5em;
    padding-right: 1em; */
    padding-top: .5em;
    /* overflow-y: auto; */

    overflow-x: hidden;
    /* height: 100%; */
}

#selections {
    /* block-size: fit-content; */
    min-width: fit-content;
    width: 100%;
    padding-left: .5em;
    padding-right: 1em;
    /* margin-top: 1em; */
}

#recipeItemTable{
    overflow-y: auto;
    margin-right: 1em;
}


#recipeContent, #recipeContent {
    /* margin-left: 1em; */
    padding-left: 1em;
    padding-top: 1em;
    min-height: 10em;
    /* width: 100%; */
}

#recipesContainer {
    height: 20em;
}

#headers, #recipeHeaders {
    margin-top: 1em;
}

#checkboxHeader {
    width: 5.5em;
}

.check {
    height: 1em;
    margin-top: 1em;
}

.mainContent {
    text-align: center;
    padding-left: 10em;
    margin-left: 10em;
    background-color: rgb(211, 211, 211);
}

.mainContent:nth-child(even) {
    background-color: white;
}

#removeSelectedItemsContainer{
    text-align: center;
}

#removeSelectedItems{
    user-select: none;
    /* background-color: whitesmoke; */
    border: 2px solid gray;
    border-radius: .5em;
    text-align: center;
}

#addItem:hover {
    background-color: gray;
    color: white;
}

#addItem:active {
    background-color: black;
}


#recipesContainer {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

/* #recipeContent {
    width: 100%;
    background-color: red;
} */

.ingredient {
    width: 100%;
    text-align: center;
    overflow: auto;
    /* padding-left: 1em; */
}

#itemInput, #qtyInput, .qty > input {
    width: 80%;
}

#itemInput {
    text-align: center;
}

#addRecipeContainer {
    padding-top: 1em;
    text-align: center;
}

#addRecipe {
    margin-bottom: 1em;
    border: 2px solid gray;
    border-radius: .5em;
}

#addRecipe:hover {
    background-color: gray;
}

/* #addRecipeBtn {
    border: 2px solid black;
    border-radius: .5em;
} */

.recipeName {
    text-align: center;
    background-color: white;
    border: 2px solid gray;
    margin-bottom: 5px;
    min-width: fit-content;
    /* border-radius: .5em; */
    padding-left: .5em;
    padding-right: .5em;
}

.recipeName:hover {
    background-color: gray;
}
/* #newRecipeInputBtn {
    visibility: hidden;
} */

#applicationContaner {
    overflow-y: auto;
}

.qty > input {
    text-align: right;
}



#addRecipeIngredientsToShoppingListBtnContainer{
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
}

#newRecipeNameInput, #newIngredients {
    width: 100%;
}