body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#applicationContaner{
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 182, 182);
    height: 60vh;
    /* width: 95vw; */
    width: 100%;
    border-radius: 1em;
    border: .5em solid gray;
}

/* #recipeContentContainer {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background-color: red;
} */

#family {
    visibility: hidden;
}

#recipeContent, #recipesContainer {
    background-color: rgb(182, 182, 182);
    border-radius: 1em;
    border: .5em solid gray;
    padding-top: .5em;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    margin-bottom: 1em;
}

/* #recipesContainer {
    background-color: rgb(182, 182, 182);
    border-radius: 1em;
    border: .5em solid gray;
    padding-top: .5em;
    overflow-x: hidden;
    min-width: fit-content;
    width: 95vw;
    width: 100%;
    padding-bottom: 1em;
} */

#recipeItem, #selections {
    text-align: center;
    width: 80vw;
}

#recipeItemTable{
    overflow-y: auto;
    width: 100%;
}


#recipeContent, #recipeContent {
    min-height: 10em;
}


#headers, #recipeHeaders {
    margin-top: 1em;
}

#checkboxHeader {
    width: 5.5em;
}

.check {
    height: 1em;
    margin-top: 1em;
}

.mainContent, .recipeGroup{
    text-align: center;
    padding-left: 10em;
    margin-left: 10em;
    background-color: rgb(211, 211, 211);
}

.mainContent:nth-child(even) {
    background-color: white;
}

/* checkbox, recipename, ingredientcheck, ingredient */

#removeSelectedItemsContainer{
    text-align: center;
}

#removeSelectedItems{
    user-select: none;
    /* background-color: whitesmoke; */
    border: 2px solid gray;
    border-radius: .5em;
    text-align: center;
}

#addItem:hover {
    background-color: gray;
    color: white;
}

#addItem:active {
    background-color: black;
}

.ingredient,.recipeName {
    width: 100%;
    text-align: center;
    overflow: auto;
    /* padding-left: 1em; */
}

#itemInput{
    width: 80%;
}

.qty {
    width: 5.5em;
}

.qty, #qtyInput, .qty > input {
    width: 3em;
}

#itemInput {
    text-align: center;
}

#addRecipeContainer {
    padding-top: 1em;
    text-align: center;
}

#addRecipe {
    margin-bottom: 1em;
    border: 2px solid gray;
    border-radius: .5em;
}

#addRecipe:hover {
    background-color: gray;
}

/* #addRecipeBtn {
    border: 2px solid black;
    border-radius: .5em;
} */

/* #newRecipeInputBtn {
    visibility: hidden;
} */

#applicationContaner {
    overflow-y: auto;
}

.qty > input {
    text-align: right;
}

#addRecipeIngredientsToShoppingListBtnContainer{
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
}

#newIngredientInputFieldBtn {
    margin-right: 1em;
    color: red;
}

#newIngredientInputFieldBtn, #newRecipeInputBtn {
    margin-top: 1em;
}

#newRecipeNameInput, #newIngredients {
    width: 100%;
    text-align: center;
}

.recipeName {
    background-color: white;
    border: 2px solid gray;
    margin-bottom: 5px;
}

.recipeName:hover {
    background-color: gray;
}

/* .recipeCheckbox {
    display: inline-block;
} */

.recipeGroup {
    /* display: grid; */
    /* grid-template-columns: 1fr 6fr 1fr; */
    /* margin: auto; */
    /* text-align: center; */
    /* width: 100%; */
    /* min-width: fit-content; */
}