body {
    margin: 0;
    background-color: whitesmoke;
}

#title_page {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    align-items: center;
    background-color: blue;
    /* transition: background-color 1s; */
}

#load_page {
    margin: auto;
    /* align-self: center; */
}
/* #main {
    width: 100%;
} */

#shoppingListContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 182, 182);
    overflow-y: auto;
    border-bottom: 3px solid gray;
}

#recipeIngredients,  #recipesContainer {
    overflow-y: auto;
}


#family {
    visibility: hidden;
}

#recipeIngredients, #recipesContainer {
    /* padding-top: .5em; */
    align-items: center;
    display: flex;
    flex-direction: column;
}

#recipeItem, #selections {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 182, 182);
}

#recipeIngredients {
    overflow-y: auto;
    position: relative;
    top: 0;
}


.headers, #headers, #recipeHeaders {
    user-select: none;
    font-weight: bold;
}

#headers, .headers {
    /* position: sticky; */
    /* position: relative; */
    top: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
    height: 3em;
}

.headers {
    text-indent: 1.5em;
    height: 3em;
    /* position: sticky; */
    top: 0;
    padding-top: 1em;
}

#checkboxHeader {
    width: 5.5em;
}

#checkboxHeader:hover {
    color: white;
}

.mainContent,.shoppingListTableInputLine, .shoppingListItems, .recipeGroup{
    text-align: center;
    padding-left: 10em;
    margin-left: 10em;
    background-color: rgb(211, 211, 211);
    user-select: none;
}

.recipeGroup {
    background-color: rgb(211, 211, 211);
    /* background-color: red; */
}

.recipeGroup:nth-child(odd) {
    background-color: white;
}

.mainContent:nth-child(odd),.shoppingListTableInputLine:nth-child(odd), .shoppingListItems:nth-child(odd) {
    background-color: white;
}

.mainContent:hover, .shoppingListItems:hover, .recipeGroup:hover {
    background-color: gray;
    color: white;
}

#removeSelectedItemsContainer{
    text-align: center;
}

#removeSelectedItems{
    user-select: none;
    border: 2px solid gray;
    border-radius: .5em;
    text-align: center;
}

#addItem:hover {
    background-color: gray;
    color: white;
}

#addItem:active {
    background-color: black;
}

.ingredient,.recipeName {
    width: 100%;
    text-align: center;
    overflow: auto;
}

/* .qty {
    width: 5.5em;
} */

.qty, #qtyInput, .qty > input, #addNewItem {
    width: 3em;
}

#itemInput {
    text-align: center;
    width: 100%;
}

#addRecipeContainer {
    padding-top: 1em;
    text-align: center;
    padding-bottom: 1em;
}

.recipeCheck, .shoppingListCheckBoxes, .ingredientCheck {
    padding-left: 1em;
}

/* .check {
    height: 1em;
    margin-top: 1em;
} */


#addRecipe, #deleteRecipe, #newIngredientInputFieldBtn, #newRecipeInputBtn {
    /* margin-bottom: 1em; */
    border: 2px solid gray;
    border-radius: .5em;
}

.button:hover, #removeSelectedItems:hover {
    background-color: gray;
    color: white;
}

#addRecipe {
    margin-right: 1em;
}


.qty > input {
    text-align: right;
}

#addRecipeIngredientsToShoppingListBtnContainer{
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
}

#ingredientInputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timeAndTemp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#recipeCookTimeInputField, #recipeTempInputField {
    width: 7em;
    text-align: center;
}



#numberOfServingsInputField, #numOfServingsLabel {
    display: inline;
}

#numberOfServingsInputField{
    width: 3em;
}

#noOfServingsInput {
    width: 3em;
}

.newIngredientQtys {
    width: 1.5em;
    margin-right: .5em;
}
/* #newIngredientInputFieldBtn {
    margin-right: 1em;
} */

/* #newIngredientInputFieldBtn,  */
#newRecipeInputBtn {
    margin-top: 1em;
}

#newRecipeNameInput, .ingredients {
    width: 40%;
    text-align: center;
    margin-top: 1em;
}

.recipeName {
    margin-bottom: 5px;
    text-indent: 3em;
}

/* #recipeWindow,  */
#recipeWindowContent 
{
    height: 0;
    width: 0;
  /*  position: fixed; */
    position: absolute;
    top: 2.5%;
    left: 3%;
}

#recipeWindow {
    display: none;
    /* align-self: center; */
    /* height: 0; */
    /* width: 0; */
    height: 100%;
    /* height: auto; */
    width: 100%;
    position: absolute;
    /* opacity: 0; */
    /* left: 3%; */
    /* top: 2.5%; */
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    /* background-color: red; */
    margin: 0;
}

#recipeWindowContent {
    background-color: gray;
    visibility: hidden;
    border: 2px solid black;
    overflow-y: auto;
    padding: 1em;
    /* display: flex; */
    /* flex-direction: column; */
}

#recipeText {
    color: white;
    font-size: medium;
    min-width: fit-content;
    /* text-align: center; */

}

#recipeText > div {
   max-width: 100%;
   /* text-align: center; */
}

#recipeText > h2 {
    margin-left: 1em;
    font-weight: bold;
}

#instructionsContainer {
    margin: 1em;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    overflow-y: auto;
}

#currentRecipeDescription{
    margin: 0;
    margin-bottom: 1em;
    margin-left: 8%;
}

.instructionsCheckboxes {
    margin-left: 10%;
    margin-right: 1em;
}

.instructionsText {
    color: white;
}

#instructions {
    overflow-y: auto;
    font-size: 18px;
    background-color: white;
    color: black;
    /* height: 20rem; */
    border: solid black 2px;
    border-radius: .5em;
    padding: 1em;
    height: 50vh;
}

.instructionsRows {
    display: flex;
    flex-direction: row;
    user-select: none;
}

#listContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#recipeText > div {
    /* margin-left: 2em; */
}

/* #generalRecipeInfo {
    display: block;
} */

.temperatureDivs, .timeDivs, #totalCalories, #caloriesPerServing, #numberOfServings {
    margin-left: 8%;
}

/* .timeDivs {
    margin-left: 8%;
} */

#recipeIngredientsColumn_1 {
    margin-top: 1em;
    /* align-self: center; */
    margin-left: auto;
    /* margin-right: 1em; */
}

#recipeIngredientsColumn_2 {
    margin-top: 1em;
    margin-right: auto;
    margin-left: 1em;
}

#recipeButtonContainer {
    /* position: relative; */
    /* position: fixed; */
    /* bottom: 2.5em; */
    /* background-color: red; */
    text-align: center;
    /* margin-left: 41%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 100%; */
}

#closeRecipeWindowBtn {
    margin-top: 2em;
    margin-bottom: 3px;
    /* margin-bottom: 1em; */
    /* align-self: center; */
    /* visibility: hidden; */
    width: fit-content;
}

.recipeStepRows {
    display: flex;
    flex-direction: row;
    width: 87%;
    margin-top: 3px;
}

.recipeStepLabels{
    margin-left: .5em;
    margin-right: 1em;
    width: 5em;
}

.recipeSteps {
    width: 100%;
    text-indent: 3px;
}

#recipeItem {
    align-items: center;
    max-width: 100%;
    padding-bottom: 1em;
}

.newIngredientFieldBtns {
    width: 3em;
    margin-left: .75em;
}

.newIngredients {
    text-align: center;
}

#recipeContent {
    overflow-y: hidden;
    max-width: 100%;
}


#newIngredientGrid{
    max-width: fit-content;
    width: 86%;
}

#recipeTableBody {
width: 100%;
}

#recipeInstructionsInputField {
    margin-top: 1em;
    width: 85%;
    min-height: 8em;
    padding-left: 1em;
    padding-top: 1em;
}

.newIngredients {
    min-width: 5em;
    text-align: center;
}

.newIngredientAmtInputs {
    text-align: center;
    min-width: 2em;
}

.newIngredientInputFieldBtns {
    /* display: inline-block; */
}

.newIngredientCalorieInputs {
    text-align: center;
}

.newIngredientFieldBtn {
    width: 2em;
}

.measurementUnit {
    /* text-align: center; */
    /* min-width: 6rem; */
}

#newIngredientGrid {
    display: grid;
    max-width: 100vw;
    grid-template-columns: 40% 15% 17% 12% 12%;
}

.newIngredients, .newIngredientAmtInputs, .measurementUnit, .newIngredientCalorieInputs {
    background-color: white;
    border: 1px solid black;
}
